input {
  margin-left: 10px;
  width: 30px;
  height: 23px;
}
select {
  margin-left: 8px;
}
form {
  margin-bottom: 10px;
}
.game_name {
  font: ;
  font-size:30px;
  text-align: center;
  margin-bottom: 15px;
  font-weight: bold;
}
.submit {
  margin-left: 10px;
  padding: 3px 5px;
  font-size: 15px;

}
.size {
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.win {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-content: flex-start;
  padding: 0px;
  /*margin-top: 5px;*/
}
.win_select {
  margin-right: 8px;
}
