input {
  margin-left: 15
}
.submit {
  margin-left: 20px;
  padding: 10px 10px;
  font-size: 15px;
}
.size {
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.win {
  display:flex;
  font-size: 20px;
  justify-content: center;
  
}

