input {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
select {
  margin-left: 15px;
}
.submit {
  margin-left: 20px;
  padding: 5px 8px;
  font-size: 15px;
}
.size {
  display: flex;
  font-size: 25px;
  justify-content: center;
}
.win {
  display:flex;
  font-size: 25px;
  justify-content: center;
  
}

