input {
  margin-left: 10px;
  width: 30px;
  height: 23px;
}
select {
  margin-left: 15px;
}
.submit {
  margin-left: 10px;
  padding: 3px 5px;
  font-size: 15px;
}
.size {
  display: flex;
  font-size: 20px;
  justify-content: center;
}
.win {
  display:flex;
  font-size: 20px;
  justify-content: center;
  align-content: flex-start;
  padding: 0px;
  margin: 0px;
  
}

